:root {
  --player-size: 48px;
  --cell-size: 36px;
}

body {
  /* color: blue; */
  background-image: url(/public/images/map/background2.png);
}

.todoapp h1 {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  top: -155px;
}

.info {
  color: #bfbfbf;
}

#page-container {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

#content-container {
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 4rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #777;
  height: 2.5rem;
  /* Footer height */
}

#messages {
  background-color: rgb(215, 224, 248);
  margin: 10px;
  width: 60vw;
  height: 20vh;
  overflow: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.grid-row {
  display: flex;
}
.chat {
  display: none;
}
.grid-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  align-items: center;
}
.game-grid {
  position: relative;
}

/* <---------------GridMap images-----------------------> */
.main-wall {
  background-image: url("./public/images/map/main-wall.png");
  background-size: cover;
}
.grey-wall {
  background-image: url("./public/images/map/grey-wall.png");
  background-size: cover;
}
.grass {
  background-image: url("./public/images/map/grass.png");
  background-size: cover;
}
.soft-wall {
  background-image: url("./public/images/map/soft-wall.png");
  background-size: cover;
}

.hud-2-pl,
.hud-3-pl,
.hud-4-pl {
  display: flex;
  background-size: contain;
  height: 80px;
}

.hud-2-pl {
  background-image: url("./public/images/map/hud-2-pl.png");
}

.hud-3-pl {
  background-image: url("./public/images/map/hud-3-pl.png");
}

.hud-4-pl {
  background-image: url("./public/images/map/hud-4-pl.png");
}

.lives-0,
.lives-1,
.lives-2,
.lives-3 {
  background-size: contain;
  height: 15px;
  width: 15px;
  position: absolute;
}

.lives-0 {
  background-image: url("./public/images/map/0.png");
}

.lives-1 {
  background-image: url("./public/images/map/1.png");
}

.lives-2 {
  background-image: url("./public/images/map/2.png");
}

.lives-3 {
  background-image: url("./public/images/map/3.png");
}

/* <---------------PowerUp images-----------------------> */

.power-up-bombs {
  background-image: url("./public/images/power-ups/bombs-power-up.png");
  background-size: cover;
}

.power-up-flames {
  background-image: url("./public/images/power-ups/flames-power-up.png");
  background-size: cover;
}

.power-up-speed {
  background-image: url("./public/images/power-ups/speed-power-up.png");
  background-size: cover;
}

/* <---------------Player 1 images-----------------------> */

.player-1 {
  background-image: url("./public/images/players/player-1/pl-1-down-still.png");
  background-size: cover;
  position: absolute;
  width: var(--player-size);
  height: var(--player-size);
}

/* <---------------Player 2 images-----------------------> */

.player-2 {
  background-image: url("./public/images/players/player-2/pl-2-down-still.png");
  background-size: cover;
  position: absolute;
  width: var(--player-size);
  height: var(--player-size);
}

/* <---------------Player 3 images-----------------------> */

.player-3 {
  background-image: url("./public/images/players/player-3/pl-3-down-still.png");
  background-size: cover;
  position: absolute;
  width: var(--player-size);
  height: var(--player-size);
}

/* <---------------Player 4 images-----------------------> */

.player-4 {
  background-image: url("./public/images/players/player-4/pl-4-down-still.png");
  background-size: cover;
  position: absolute;
  width: var(--player-size);
  height: var(--player-size);
}

/* <---------------Bomb images-----------------------> */

.bomb-1 {
  background-image: url("./public/images/bombs/bomb-1.png");
  background-size: cover;
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
}

.bomb-2 {
  background-image: url("./public/images/bombs/bomb-2.png");
  background-size: cover;
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
}

.bomb-3 {
  background-image: url("./public/images/bombs/bomb-3.png");
  background-size: cover;
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-center-1 {
  background-image: url("./public/images/bombs/expl-center-1.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-center-2 {
  background-image: url("./public/images/bombs/expl-center-2.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-center-3 {
  background-image: url("./public/images/bombs/expl-center-3.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-center-4 {
  background-image: url("./public/images/bombs/expl-center-4.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-center-5 {
  background-image: url("./public/images/bombs/expl-center-5.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-wing-1 {
  background-image: url("./public/images/bombs/expl-wing-1.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-wing-2 {
  background-image: url("./public/images/bombs/expl-wing-2.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-wing-3 {
  background-image: url("./public/images/bombs/expl-wing-3.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-wing-4 {
  background-image: url("./public/images/bombs/expl-wing-4.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-side-1 {
  background-image: url("./public/images/bombs/expl-side-1.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-side-2 {
  background-image: url("./public/images/bombs/expl-side-2.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-side-3 {
  background-image: url("./public/images/bombs/expl-side-3.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.expl-side-4 {
  background-image: url("./public/images/bombs/expl-side-4.png");
  background-size: cover;
  width: var(--cell-size);
  height: var(--cell-size);
}

.game-over {
  height: 2.5rem;
  text-align: center;
}

.game-over h1 {
  color: rgba(175, 47, 47, 0.85);
  display: none;
}
