footer {
    position: absolute;
    bottom: 20px;
    color: black;
}


/* Styles pour le conteneur principal */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* width: 100vw; */
}


/* Styles pour le contenu de l'interface */

.content {
    text-align: center;
    /* Centrer le contenu */
}


/* Styles pour la carte de jeu */

.game-map {
    width: 510px;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    /* Taille des cellules */
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
    /* Espacement entre les cellules */
    background-color: #000;
    /* Couleur de fond */
}

.cell {
    background-color: #ccc;
    /* Couleur de fond des cellules */
    border: 1px solid #fff;
    /* Bordure des cellules */
}


/* Styles pour les informations sur les joueurs */

.player-info {
    margin-top: 20px;
}


/* Style pour le bouton de démarrage du jeu */

#start-game-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    /* Couleur de fond du bouton */
    color: white;
    /* Couleur du texte du bouton */
    border: none;
    /* Supprimer la bordure */
    border-radius: 5px;
    /* Coins arrondis */
    cursor: pointer;
    font-size: 16px;
}

#start-game-button:hover {
    background-color: #45a049;
    /* Couleur de fond au survol */
}